body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: wheat;
}
.not {
  background-color: blanchedalmond;
  max-width: 500px;
  margin: 0 auto;
}
.not__header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.not__header img {
  align-self: center;
  min-width: 25px;
}
.not__header h2 {
  margin: 0;
}
.not__info {
  padding: 0 15px;
  font-weight: bold;
  color: crimson;
  opacity: 0;
  transition: 1s;
}
.not__form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}
.not__form input {
  height: 30px;
  min-width: 75px;
}
.not__form textarea {
  resize: none;
  margin: 0 10px;
  padding: 10px;
  width: 100%;
  height: 70px;
}
.not__form > button,
.not__list > button {
  cursor: pointer;
  margin: 0;
  border: none;
  padding: 10px 15px;
  background-color: cadetblue;
  text-transform: uppercase;
}
.not__form > button:hover,
.not__list > button:hover {
  opacity: 0.9;
}
.not__list {
  padding: 15px;
}
.not__item {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 10px;
}
.not__warning {
  background-color: rgb(231, 10, 113);
}
button[data-time] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3;
  background-color: crimson;
  color: white;
  border: none;
}
button[data-time]:hover {
  background-color: brown;
}
.not__list h3 {
  margin: 0 0 15px 0;
}
